@import '@coreui/coreui/dist/css/coreui.min.css';

:root {
  --primary-gradient: linear-gradient(135deg, #3c4b64 0%, #303c54 100%);
}

body {
  background-color: #ebedef;
}

.app-header {
  background: var(--primary-gradient);
  color: white;
  padding: 2rem 0;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.column-container {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
}

.draggable-item {
  margin: 8px 0;
  background-color: #fff;
  cursor: grab;
  transition: all 0.2s ease;
  position: relative;
}

.draggable-item.new::before {
  position: absolute;
  content: 'Nouveau';
  background-color: #2cb833;
  color: #fff;
  top: 0; right: 0;
  transform: translate(30%, -50%);
  font-size: 0.6rem;
  border-radius: 5px;
  padding: 1px 3px;
  z-index: 18;
}

.draggable-item.new {
  color: #2cb833;
  font-weight: 600;
}

.draggable-item:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
}

.draggable-item:active {
  cursor: grabbing;
}

.column-header {
  background: var(--primary-gradient);
  border: none;
  color: white;
}

.task-count {
  background-color: rgba(255,255,255,0.2);
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.highlight {
  background: yellow;
  color: black;
}
